/* button */
.button {
  border: none;
  border-radius: 0.625rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
  text-transform: capitalize;
  padding: 1.25rem 3.125rem;
  cursor: pointer;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.button--sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.button--md {
  padding: 0.875rem 1.5rem;
  font-size: 1.125rem;
}

/* button default */

.button--default {
  background-color: var(--gray-dark);
  color: var(--white);
  border: 1px solid var(--gray-dark);
}

.button--default:hover {
  background-color: var(--white);
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}

.button--default:active {
  background-color: var(--white);
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}

/* .button--default:focus{
  outline: 3px solid var(--info);
  outline-offset: 1px;
} */

.button--default:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: var(--gray-dark);
}

/* Button Primary */

.button--primary {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);
}

.button--primary:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.button--primary:active {
  background-color: var(--white);
  color: var(--orange);
  border: 1px solid var(--orange);
}

/* .button--primary:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
} */

.button--primary:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: var(--orange);
}

/* Button secondary */

.button--secondary {
  background-color: var(--purple);
  color: var(--white);
  border: 1px solid var(--purple);
}

.button--secondary:hover {
  background-color: var(--white);
  color: var(--purple);
  border: 1px solid var(--purple);
}

.button--secondary:active {
  background-color: var(--white);
  color: var(--purple);
  border: 1px solid var(--purple);
}

/* .button--secondary:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
} */

.button--secondary:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: var(--purple);
}
