/* button */
.button {
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  text-transform: capitalize;
  padding: 0.75rem 1rem;
  cursor: pointer;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.button--sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.button--lg {
  padding: 0.875rem 1.5rem;;
  font-size: 1.125rem;
}


/* button default */

.button--default {
  background-color: var(--gray-300);
  color: var(--gray-900);
}

.button--default:hover{
  background-color: var(--gray-400);
}

.button--default:active{
  background-color: var(--gray-500);
}

.button--default:focus{
  outline: 3px solid var(--info);
  outline-offset: 1px;
}

.button--default:disabled{
  opacity: 0.6;
  cursor: default;
  background-color: var(--gray-300);
}


.button--primary {
  background-color: var(--primary);
  color: var(--white);
}