/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-primary:  'Fraunces', serif;
  --font-secondary: 'Mulish', sans-serif;
  /* --font-secondary:'Open Sans', 'Segoe UI', Tahoma, sans-serif; */
}

body {
  font-size: 1rem;
  line-height: 2rem;
  background-color: var( --white);
  color: var(--blue);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

p, button, a{
  font-family: var(--font-secondary);
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.5;
}

.text,
.text-md {
  font-size: 1rem;
  line-height: 1.5;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.5;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1.5; 
}

.heading-3xl {
  font-size: 4.5rem;
  line-height: 1;
}

.heading-2xl {
  font-size: 3.75rem;
  line-height: 1;
}

.heading-xl {
  font-size: 3rem;
  line-height: 1.2;
}

.heading-lg {
  font-size: 2.25rem;
  line-height: 1.2
} 

.heading-md {
  font-size: 1.875rem;
  line-height: 1.2;
}

.heading-sm {
  font-size: 1.5rem;
  line-height: 1.2;
}

.heading-xs {
  font-size: 1.25rem;
  line-height: 1.2;
}