.w-full {
  width: 100%;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 800;
}

.overline {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.ml-4 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 0.5rem;
}

.flex__column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.color-primary {
  color: var(--orange);
}

.color-secondary {
  color: var(--gray-light);
}

.color-purple {
  color: var(--purple);
}

.color-blue {
  color: var(--blue);
}

.social-media__icon {
  font-size: 1.7rem;
  color: var(--gray);
}

.social-media__icon:hover,
.social-media__icon:active {
  color: var(--purple);
}

.section-title-wrap {
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.section-title-line {
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
}

.section-title {
  padding: 0 10px;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  flex: 0 0 auto;
  text-transform: uppercase;
}

.timeline-dot {
  position: absolute;
  left: -7px;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background-color: #7390f9;
}

.timeline-wrap {
  position: relative;
  width: 4%;
  margin-left: 20px;
  flex: 0 auto;
  border-left: 1px solid #ccc;
}

.circle-button {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: auto;
}

.circle-button:hover{
  background-color: var(--blue);
}

/* .margin-left-1x {
  margin-left: 1rem;
}
.margin-left-2x {
  margin-left: 2rem;
}
.margin-left-3x {
  margin-left: 3rem;
} */

.slider {
  overflow: hidden;
  /* width: 40rem; */
  margin: auto 0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.imagen-redondeada{
  border-radius: 50%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
