@import url(./reset.css);

:root {
  font-size: 16px;
  --primary-lighter: #fce7f3;
  --primary-light: #f9a8d4;
  --primary: #db2777;
  --primary-dark: #be185d;
  --primary-darker: #831843;
  --secondary-lighter: #f5f5f4;
  --secondary-light: #d6d3d1;
  --secondary: #78716c;
  --secondary-dark: #44403c;
  --secondary-darker: #1c1917;
  --error: #f87171;
  --warning: #fcd34d;
  --success: #77e297;
  --info: #60a5fa;
  --text: #111827;
  --background-lighter: #ffffff;
  --background-light: #f9fafb;
  --background: #f3f4f6;
  --background-dark: #e5e7eb;
  --background-darker: #d1d5db;
}

* {
  background-color: var(--background);
  color: var(--text);
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

body{ 
   position: relative;
   padding-bottom: 4.25rem; /* height footer*/
}

/* Navbar & Footer */
.header,
.footer {
  background-color: var(--secondary-dark);
  color: var(--background-lighter);
  height: 4.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
}

.footer {
  position: absolute;
  bottom: 0;
}

/* Article Elements */
.section-md {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  padding: 3rem 0;
  height: 100%;
}

.container-md {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  max-width: 48rem;
  margin: 0 auto;
  width: 100%;
}

.container-md > * {
  max-width: 100%;
}

.article-title {
  margin-bottom: 2rem;
  font-size: 2.25rem;
  line-height: 2.7rem;
  font-weight: 400;
}

.article-subtitle {
  margin: 3.5rem 0 1rem 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
  width: 100%;
}

.article-paragraph {
  margin: 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.688rem;
  font-weight: 300;
}

.article-list {
  font-size: 1.125rem;
  line-height: 1.688rem;
  font-weight: 300;
  width: 100%;
}

.article-blockquote {
  margin: 1.5rem 0;
  background-color: var(--secondary-light);
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.688rem;
  padding: 1rem 1.12rem;
  border-radius: 0.5rem;
  font-weight: 400;
}

.article-figure {
  margin: 2rem 0;
  width: 100%;
  font-weight: 300;
}

.article-figure__img {
  background-size: contain;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  max-width: 736px;
  max-height: 558px;
}

.article-link {
  color: var(--primary-dark);
}