.about__hero {
  position: relative;
}

.about__hero-wrapper {
  position: absolute; /* Set the position of the wrapper */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../images/background.jpeg);
  border-radius: 1.25rem;
  background-position: 50% 50%;
  background-size: cover;
  transform: scaleX(-1);
  z-index: -1; /* Set the z-index to ensure it's behind the content */
}

.about__hero-content {
  display: grid;
  grid-template-columns: 20rem 1fr;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2rem;
}

.about__hero-content img {
  border-radius: 1.25rem;
}

.about__hero-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about__education-wrapper,
.about__work-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}

.about__education-list,
.about__work-list {
  margin: 0;
  padding: 0;
}

.about__education-list li,
.about__work-list li {
  display: grid;
  grid-template-columns: 1fr 3rem 2fr;
}

.about__education-list li span,
.about__work-list li span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about__summary {
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  padding: 3rem 2rem;
}

.about__summary-wrapper {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

.column-divider {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #aeaeae;
}

.column-right {
  padding-left: 2rem;
}

.about__summary-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1.5rem;
  font-family: var(--font-secondary);
  gap: 0.8rem;
  list-style-image: url(../../icons/check.svg);
  list-style-type: disc;
}

@media only screen and (max-width: 1025px) {
  .about__summary-wrapper {
    display: flex;
    flex-direction: column;
  }

  .column-divider {
    display: none;
  }

  .column-right {
    padding: 1.5rem 0 0 0;
  }
}

@media only screen and (max-width: 769px) {
  .about__hero-content {
    display: flex;
    flex-direction: column;
  }

  .about__education-wrapper,
  .about__work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media only screen and (max-width: 481px) {
  .about__summary-list {
    display: flex;
    flex-direction: column;
  }
}
