/* article */
.article{
  padding-top: 4rem;
  /* font-size: 18px; */
  color: var(--gray-900)
}

.article > * {
  max-width: 100%;
}

.article__title {
  margin-bottom: 2rem;
  font-size: 2.25rem;
  line-height: 2.7rem;
  font-weight: 400;
}

.article__subtitle {
  margin: 3.5rem 0 1rem 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
}

.article__paragraph {
  margin: 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.688rem;
  font-weight: 300;
}

.article__list {
  font-size: 1.125rem;
  line-height: 1.688rem;
  font-weight: 300;
}

.article__blockquote {
  margin: 1.5rem 0;
  background-color: var(--secondary-light);
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.688rem;
  padding: 1rem 1.12rem;
  border-radius: 0.5rem;
  font-weight: 400;
}

.article__figure {
  margin: 2rem 0;
  font-weight: 300;
}

.article__figure--img {
  background-size: contain;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.article__link {
  color: var(--primary-dark);
}