.contact__hero {
  border-radius: 1.25rem;
  background-image: url("../../images/background.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.contact h2 {
  padding-bottom: 1rem;
}

.contact__form {
  margin: auto;
  max-width: 40rem;
  text-align: left;
}

.contact__form--inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
}

.contact__form--inputs label {
  text-transform: capitalize;
  font-family: var(--font-primary);
  margin-bottom: 1.125rem;
}

.contact__form--inputs span {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__form--inputs input,
.contact__form--inputs select {
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #dcdcdc;
  outline-color: var(--orange);
  font-family: var(--font-secondary);
}

/* .contact__form input[type="submit"] {
  margin-top: 1.5rem;
} */

.submit-button{
  margin: 0 auto;
}

.contact__form--checkboxes{
  padding: 2rem 0;
}

.contact__form--checkboxes span{
display: grid;
grid-template-columns: 1fr 1fr;
}


.contact__form--checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0;
}


@media only screen and (max-width: 769px) {
  .contact__form--inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
