/* Navbar*/
.header {
  background-color: var(--white);
  padding-top: 1.5rem;
}

.navbar__logo {
  display: block;
  float: left;
  padding-top: 0.5rem;
  color: var(--gray);
  letter-spacing: 2px;
}

.navbar__links-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__links {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar__links .link {
  display: block;
  text-decoration: none;
  color: var(--gray);
  font-family: var(--font-secondary);
  text-align: center;
}

.navbar__links .link:hover {
  color: var(--orange);
}

/* Hamburguer menu */
.navbar__links{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}  
 
.navbar__menu-icon {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 0.625rem;
} 

input[type="checkbox"]:checked + .navbar__menu-icon{
  background-color: var(--orange);
}

input[type="checkbox"]:not(:checked) +
.navbar__menu-icon{
  background-color: var(--blue);
}

.header .navbar__menu-btn {
  display: none;
}
 
.header .navbar__menu-btn:checked ~ .navbar__links {
  max-height: 20rem;
}


/* Responsive */
@media only screen and (max-width: 768px){
  .navbar__links{
    flex-direction: column;
  }  
  .navbar__links .link {
    padding: 1.25rem;
  }

  .navbar__links-social{
    padding-top: 1.5rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar__links .link {
    color: var(--gray);
    font-family: var(--font-secondary);
    padding: 0 1.25rem;
  }
  
  .navbar__links {
    clear: none;
    float: right;
    max-height: none;
  }
  
  .navbar__menu-icon {
    display: none;
  }
}