.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home__hero{
  width: 100%;
}

.home__hero-content {
  text-align: center;
  background-image: url(../../images/background.jpeg);
  border-radius: 1.25rem;
  background-position: 50% 50%;
  background-size: cover;
  padding: 3rem 1.25rem;
}


.home__hero-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.home__skills, .home__work, .home__blog{
  width: 100%;
  
}

@media only screen and (max-width: 769px) {
  .home__hero-buttons{
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }

}