.portfolio__hero {
  border-radius: 1.25rem;
  background-image: url("../../images/background.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

/* Tabs */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-secondary);
  background-color: var(--gray-light);
  color: var(--white);
  border: 1px solid var(--gray-light);
  margin: 0.5rem;
}

.tabset > label:hover,
.tabset > input:focus + label {
  background: var(--white);
  color: var(--gray-light);
  border: 1px solid var(--gray-light);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: var(--purple);
  color: var(--white);
  border: 1px solid var(--purple);
}

.tabset > input:checked + label {
  background: var(--purple);
  border: 1px solid var(--purple);
  color: var(--white);
}

.portfolio__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  list-style-type: none;
  padding: 2rem 0 0 0;
  margin: 0;
}

.portfolio__card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 1.25rem;
  text-align: left;
  padding: 3rem;
}

.portfolio__card--text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio__card--icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.portfolio__card--icons span {
  display: flex;
  gap: 1rem;
}

.portfolio__card--icons span img {
  background-color: var(--gray-100);
  border-radius: 0.5rem;
  padding: 0.8rem;
}

.portfolio__card--badges {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 0.5rem;
}

.portfolio__card--badges li {
  padding: 0.125rem 0.8rem;
  background: #fff4f0;
  border-radius: 0.625rem;
  font-family: var(--font-secondary);
}

.work__list {
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.work__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../../images/background-2.jpeg);
  border-radius: 1.25rem;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 3rem;
  gap: 2rem;
}

.word__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;
}

.word__card--badge {
  padding: 10px 25px!important;
  background-color: #ffd2e6!important;
  color: #FF85BC;
}

@media only screen and (max-width: 769px) {
  .portfolio__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work__card{
    display: flex;
    flex-direction: column;
  }
}
