.hero {
  background-color: var(--gray-100);
}
.hero-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  gap: 2.5rem;
}

.features {
  background-color: var(--secondary-light);
}

.features__header,
.team__header {
  gap: 1rem;
  padding-bottom: 1rem;
}

.features__list,
.team__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.features__list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.features__list li span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--gray-100);
  border-radius: 6px;
}

.team__list span a {
  color: var(--gray-500);
  gap: 20px;
}

@media only screen and (max-width: 769px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .hero-wrapper {
    align-items: center;
    text-align: center;
  }

  .features__list,
  .team__list {
    display: flex;
    flex-direction: column;
  }

  .team__list {
    align-items: center;
    text-align: center;
  }
}
