.project-page__hero {
  border-radius: 1.25rem;
  background-image: url("../../images/background.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-page__image {
  background-color: #d4bfff;
  border-radius: 30px;
  box-shadow: 0 2px 13px 0 rgb(0 0 0 / 9%);
}

.project-page__image img {
  width: 50%;
  margin: auto;
}

.project-page__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  gap: 2rem;
}

.project-page__summary,
.project-page__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.project-page__details ul {
  background-color: #efefef;
  padding: 2.5rem;
  border-radius: 1.25rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-page__details li {
  display: block;
}

.features {
  background-color: var(--gray-dark);
  color: var(--white);
  border-radius: 1.25rem;
  text-align: start;
  padding-left: 2rem;
  padding-right: 2rem;
}

.features__header,
.team__header {
  gap: 1rem;
  padding-bottom: 1rem;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features__list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.features__list li span {
  padding: 1rem;
  border-radius: 0.5rem;
}

.features__list li span img {
  width: 2.5rem;
}

.team__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2rem;
  border: 1px solid #efefef;
  border-radius: 1.25rem;
}

.team__list li{
  gap: 1rem;
}
@media only screen and (max-width: 769px) {
  .project-page__content {
    display: flex;
    flex-direction: column;
  }

  .features__list,
  .team__list {
    display: flex;
    flex-direction: column;
  }
}
